/* Common styles for both mobile and desktop */
html,
body {
  background-color: #000000;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  min-height: 100vh;
  min-width: 100vw;
  font-size: 25px;
  border: 0;
  box-sizing: border-box;
  color: #7c7a7a;

  display: flex;
  flex-direction: column; /* Stack content vertically */
  align-items: center; /* Center horizontally */
  overflow-x: hidden;
}

@media screen and (max-width: 320px) {
  /* comes into effect for screens less than or equal to 320 pixels */
  .body {
    width: 110px;
    height: 100vh;
    font-size: 10px;
  }
}
@media screen and (min-width: 321px) and (max-width: 480px) {
  /* comes into effect for screens between 321 and 480 pixels (inclusive) */
  .body {
    width: 310px;
    height: 100vh;
    font-size: 10px;
  }
}
@media screen and (min-width: 481px) {
  /* comes into effect for screens larger than or equal to 481 pixels */
  .body {
    width: 490px;
  }
}

/* Media query for screens larger than 600px (desktop) */

.button-53 {
  background-color: #930000;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(147, 0, 0, 1) 0 1px 2px, rgba(147, 0, 0, 1) 0 2px 4px,
    rgba(147, 0, 0, 1) 0 4px 8px, rgba(147, 0, 0, 1) 0 8px 10px,
    rgba(147, 0, 0, 1) 0 1px 502px;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.drop-53 {
  background-color: #000000;

  color: #7c7a7a;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 0px 0px;
}
.button-53:hover {
  box-shadow: rgba(147, 0, 0, 20) 0 -25px 18px -14px inset,
    rgba(147, 0, 0, 1) 0 1px 2px, rgba(147, 0, 0, 1) 0 2px 4px,
    rgba(147, 0, 0, 1) 0 4px 8px, rgba(147, 0, 0, 1) 0 8px 16px,
    rgba(147, 0, 0, 1) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
